<div class="container">
  <div class="jumbotron">
    <h3>Cadastro Professores</h3>
    <p class="text-muted">Cadastrar novo Professor no sistema</p>
  </div>

  <table class="table table-hover">
    <thead>
    <tr class="bg-info">
      <td>Código</td>
      <td>Nome</td>
      <td>Contato</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of ListaProfessores">
      <td>{{p.id}}</td>
      <td>{{p.nome}} {{p.sobrenome}}</td>
      <td>{{p.telefone}}</td>
    </tr>
    </tbody>
  </table>


  <div class="alert alert-success" *ngIf="salvar_ok">
    <p>Professor foi salvo com sucesso!</p>
  </div>
  <form #professores="ngForm">
    <div class="row">
      <mat-form-field class="col">
        <input matInput placeholder="Nome" id="nome" name="nome" [(ngModel)]="nome" required>
        <mat-error>Insira um nome</mat-error>
      </mat-form-field>
      <mat-form-field class="col">
        <input matInput placeholder="Sobrenome" id="sobrenome" name="sobrenome" [(ngModel)]="sobrenome" required>
        <mat-error>Insira o sobrenome</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col">
        <input matInput type="email" placeholder="E-mail" id="email" name="email" [(ngModel)]="email" required>
        <mat-error>Insira um e-mail valido</mat-error>
      </mat-form-field>
      <mat-form-field class="col">
        <input matInput placeholder="Telefone" id="telefone" name="telefone" [(ngModel)]="telefone" required>
        <mat-error>Insira um telefone</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col text-right">
        <button mat-raised-button class="m-2 btn btn-success" [disabled]="!professores.valid" (click)="salvarProfessor()">
          Salvar
        </button>
        <button mat-raised-button class="m-2 btn btn-secondary" (click)="limpar()">Cancelar</button>
      </div>
    </div>
  </form>
</div>