<div class="container example-container">
  <div class="jumbotron">
    <h3>Cadastro Professores</h3>
    <p class="text-muted">Cadastrar novo professor no sistema</p>
  </div>
  <div class="row">
    <mat-form-field class="col">
      <input matInput placeholder="Nome">
    </mat-form-field>
    <mat-form-field class="col">
      <input matInput placeholder="Sobrenome">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-sm-4">
      <input type="number" matInput placeholder="Salário">
    </mat-form-field>
    <mat-form-field class="col-sm-4">
      <input type="number" matInput placeholder="Horas Semanais">
    </mat-form-field>
    <mat-form-field class="col-sm-4">
          <mat-select placeholder="Especialidade">
            <mat-option value="">Cálculo</mat-option>
            <mat-option value="1">Lógica</mat-option>
            <mat-option value="1">Português</mat-option>
          </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col">
      <input matInput placeholder="Endereço">
    </mat-form-field>
    <mat-form-field class="col" appearance="legacy">
      <mat-label>E-mail</mat-label>
      <input type="email" matInput placeholder="nome@escola.edu.br">
    </mat-form-field>
  </div>

</div>