<div class="container">
  <div class="jumbotron">
    <h3>Cadastro Turmas</h3>
    <p class="text-muted">Cadastrar nova turma no sistema</p>
  </div>
  <div class="">
    <table class="table table-hover mat-elevation-z4">
      <thead>
      <tr class="bg-info">
        <td>No.</td>
        <td>Disciplina</td>
        <td>Professor</td>
        <td>Total Alunos</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let t of ListaTurmas">
        <td>{{t.id}}</td>
        <td>{{t.disciplina.nome}}</td>
        <td>{{t.professor.nome}}</td>
        <td>{{t.aluno}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="alert alert-success" *ngIf="salvar_ok">
    <p>Turma foi salva com sucesso!</p>
  </div>
  <div class="alert alert-warning" *ngIf="salvar_erro">
    <p>Houve um problema :(</p>
  </div>
  <form #turmas="ngForm">
    <div class="row">
      <mat-form-field class="col">
      <mat-select placeholder="Disciplina" id="disciplina" name="disciplina" [(ngModel)]="disciplina" required>
        <mat-option *ngFor="let d of listaDisciplinas" value="d">{{d.nome}}</mat-option>
      </mat-select>
      <mat-error>Todos os campos são obrigatórios</mat-error>
    </mat-form-field>
      <mat-form-field class="col">
        <mat-select placeholder="Professor" id="professor" name="professor" [(ngModel)]="professor" required>
          <mat-option *ngFor="let p of listaProfessores" value="p">{{p.nome}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-3">
        <input matInput placeholder="Ano" id="ano" name="ano" [(ngModel)]="ano" maxlength="4" required>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col">
        <mat-select placeholder="Alunos" id="aluno" name="aluno" [(ngModel)]="aluno" required>
          <mat-option *ngFor="let aluno of listaAlunos" [value]="aluno">{{aluno.nome}} {{aluno.sobrenome}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-mini-fab color="primary" class="m-3 mr-4" (click)="adicionaAluno()">
        <i class="material-icons">person_add</i>
      </button>
    </div>
  </form>
    <h4 class="text-center">Alunos da turma</h4>
    <table class="table table-hover mb-5">
      <thead>
        <tr>
          <td>No.</td>
          <td>Nome</td>
          <td>Curso</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of alunosTurma">
          <td>{{student.id}}</td>
          <td>{{student.nome}}</td>
          <td>{{student.curso}}</td>
        </tr>
      </tbody>
    </table>


  <div class="row">
    <div class="col text-right">
      <button mat-raised-button class="m-2 btn btn-success" [disabled]="!turmas.valid" (click)="salvarTurma()">
        Salvar
      </button>
      <button mat-raised-button class="m-2 btn btn-secondary" (click)="limpar()">Cancelar</button>
    </div>
  </div>

</div>
