<div class="container example-container">
  <div class="jumbotron mb-5">
    <h3>Cadastro Turmas</h3>
    <p class="text-muted">Cadastrar nova turma no sistema</p>
  </div>
  <main-table></main-table>
  <div class="row mt-5">
    <mat-form-field class="col">
      <input matInput placeholder="Nome">
    </mat-form-field>
    <mat-form-field class="col">
      <input matInput placeholder="Sobrenome">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col">
      <mat-select placeholder="Escolha um curso">
        <mat-option value="">Matemática</mat-option>
        <mat-option value="1">Computação</mat-option>
        <mat-option value="1">Português</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col">
      <textarea matInput placeholder="Comentário"></textarea>
    </mat-form-field>
  </div>

</div>
